In [124]:
import pandas as pd
import glob
import numpy as np

In [77]:
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 30)

In [3]:
sub_df=pd.read_csv('2021q2/sub.txt',sep='\t', header=0)
tag_df=pd.read_csv('2021q2/tag.txt',sep='\t', header=0)
num_df=pd.read_csv('2021q2/num.txt',sep='\t', header=0)
pre_df=pd.read_csv('2021q2/pre.txt',sep='\t', header=0)

In [4]:
#files = glob.glob("2021q1/*.txt")

In [5]:

#for f in files:
    #tsv = pd.read_csv(f,sep='\t',header=0)

In [6]:
# sub_df

In [7]:
sub_df=sub_df.append(pd.read_csv('2021q1/sub.txt',sep='\t', header=0))
tag_df=tag_df.append(pd.read_csv('2021q1/tag.txt',sep='\t', header=0))
num_df=num_df.append(pd.read_csv('2021q1/num.txt',sep='\t', header=0))
pre_df=pre_df.append(pd.read_csv('2021q1/pre.txt',sep='\t', header=0))

In [8]:
# sub_df

In [9]:
sub_df=sub_df.append(pd.read_csv('2020q4/sub.txt',sep='\t', header=0))
tag_df=tag_df.append(pd.read_csv('2020q4/tag.txt',sep='\t', header=0))
num_df=num_df.append(pd.read_csv('2020q4/num.txt',sep='\t', header=0))
pre_df=pre_df.append(pd.read_csv('2020q4/pre.txt',sep='\t', header=0))

In [10]:
sub_df=sub_df.append(pd.read_csv('2020q3/sub.txt',sep='\t', header=0))
tag_df=tag_df.append(pd.read_csv('2020q3/tag.txt',sep='\t', header=0))
num_df=num_df.append(pd.read_csv('2020q3/num.txt',sep='\t', header=0))
pre_df=pre_df.append(pd.read_csv('2020q3/pre.txt',sep='\t', header=0))

In [11]:
sub_df=sub_df.append(pd.read_csv('2020q2/sub.txt',sep='\t', header=0))
tag_df=tag_df.append(pd.read_csv('2020q2/tag.txt',sep='\t', header=0))
num_df=num_df.append(pd.read_csv('2020q2/num.txt',sep='\t', header=0))
pre_df=pre_df.append(pd.read_csv('2020q2/pre.txt',sep='\t', header=0))

C:\Users\Mighel\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (35) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [12]:
sub_df=sub_df.append(pd.read_csv('2020q1/sub.txt',sep='\t', header=0))
tag_df=tag_df.append(pd.read_csv('2020q1/tag.txt',sep='\t', header=0))
num_df=num_df.append(pd.read_csv('2020q1/num.txt',sep='\t', header=0))
pre_df=pre_df.append(pd.read_csv('2020q1/pre.txt',sep='\t', header=0))

In [13]:
sub_df=sub_df.append(pd.read_csv('2019q4/sub.txt',sep='\t', header=0))
tag_df=tag_df.append(pd.read_csv('2019q4/tag.txt',sep='\t', header=0))
num_df=num_df.append(pd.read_csv('2019q4/num.txt',sep='\t', header=0))
pre_df=pre_df.append(pd.read_csv('2019q4/pre.txt',sep='\t', header=0))

In [14]:
sub_df=sub_df.append(pd.read_csv('2019q3/sub.txt',sep='\t', header=0))
tag_df=tag_df.append(pd.read_csv('2019q3/tag.txt',sep='\t', header=0))
num_df=num_df.append(pd.read_csv('2019q3/num.txt',sep='\t', header=0))
pre_df=pre_df.append(pd.read_csv('2019q3/pre.txt',sep='\t', header=0))

In [15]:
sub_df=sub_df.append(pd.read_csv('2019q2/sub.txt',sep='\t', header=0))
tag_df=tag_df.append(pd.read_csv('2019q2/tag.txt',sep='\t', header=0))
num_df=num_df.append(pd.read_csv('2019q2/num.txt',sep='\t', header=0))
pre_df=pre_df.append(pd.read_csv('2019q2/pre.txt',sep='\t', header=0))

In [16]:
sub_df=sub_df.append(pd.read_csv('2019q1/sub.txt',sep='\t', header=0))
tag_df=tag_df.append(pd.read_csv('2019q1/tag.txt',sep='\t', header=0))
num_df=num_df.append(pd.read_csv('2019q1/num.txt',sep='\t', header=0))
pre_df=pre_df.append(pd.read_csv('2019q1/pre.txt',sep='\t', header=0))

In [17]:
sub_df=sub_df.append(pd.read_csv('2018q4/sub.txt',sep='\t', header=0))
tag_df=tag_df.append(pd.read_csv('2018q4/tag.txt',sep='\t', header=0))
num_df=num_df.append(pd.read_csv('2018q4/num.txt',sep='\t', header=0))
pre_df=pre_df.append(pd.read_csv('2018q4/pre.txt',sep='\t', header=0))

In [18]:
sub_df=sub_df.append(pd.read_csv('2018q3/sub.txt',sep='\t', header=0))
tag_df=tag_df.append(pd.read_csv('2018q3/tag.txt',sep='\t', header=0))
num_df=num_df.append(pd.read_csv('2018q3/num.txt',sep='\t', header=0))
pre_df=pre_df.append(pd.read_csv('2018q3/pre.txt',sep='\t', header=0))

In [19]:
sub_df=sub_df.append(pd.read_csv('2018q2/sub.txt',sep='\t', header=0))
tag_df=tag_df.append(pd.read_csv('2018q2/tag.txt',sep='\t', header=0))
num_df=num_df.append(pd.read_csv('2018q2/num.txt',sep='\t', header=0))
pre_df=pre_df.append(pd.read_csv('2018q2/pre.txt',sep='\t', header=0))

In [20]:
sub_df=sub_df.append(pd.read_csv('2018q1/sub.txt',sep='\t', header=0))
tag_df=tag_df.append(pd.read_csv('2018q1/tag.txt',sep='\t', header=0))
num_df=num_df.append(pd.read_csv('2018q1/num.txt',sep='\t', header=0))
pre_df=pre_df.append(pd.read_csv('2018q1/pre.txt',sep='\t', header=0))

In [21]:
# tag_df

In [22]:
# num_df

In [23]:
# pre_df

In [24]:
num_pre_df = pd.merge(num_df, pre_df,  on=['adsh','tag','version'])

In [25]:
# num_pre_df

In [26]:
num_pre_sub_df = pd.merge(num_pre_df, sub_df,  how='left', on='adsh')

num_pre_sub_df.columns

In [27]:
# num_pre_sub_df.columns

In [28]:
# num_pre_sub_df

In [29]:
ex_value = num_pre_sub_df.groupby("tag").size()

In [30]:
ex_value

tag
A10DebtSettlementsIncludingRelatedCosts                      6
A2017ConvertibleSubordiantedDebt                             2
A2018ConvertibleSubordinatedDebt                            10
A2023NotesEquityIssuanceCosts                               14
A2024NoteEquityimpact                                        4
                                                            ..
wuc_AblationIntellectualProperty                             2
wuc_IncreaseDecreaseInWarrantModificationExpenses            2
wuc_SaleOf192278UnitsOnJune172019InPrivatePlacement          1
wuc_StockDuringPeriodOfWarrantModificationExpense            1
wuc_StockIssuedDuringPeriodSaleOfUnitsInPrivatePlacement     1
Length: 158156, dtype: int64

In [31]:
num_pre_sub_df=num_pre_sub_df[(num_pre_sub_df['form']=='10-Q')]

In [32]:
# num_pre_sub_df

In [33]:
# num_pre_sub_df.columns

In [34]:
test_df=num_pre_sub_df[['adsh', 'form', 'report','line','tag', 'cik', 'name', 'version', 'ddate', 'qtrs', 'uom', 'value',
     'stmt','plabel','afs', 'wksi', 'fye', 'period', 'fy', 'fp', 'sic', 'countryba', 'cityba', 'countryinc']]

In [35]:
# test_df

In [36]:
# num_pre_sub_df[(num_pre_sub_df['tag']=='NetCashProvidedByUsedInOperatingActivities')]

In [83]:
test_df['tag'].value_counts().head(50)

NetIncomeLoss                                                                                                   522874
StockholdersEquity                                                                                              495073
CashAndCashEquivalentsAtCarryingValue                                                                           347102
CashCashEquivalentsRestrictedCashAndRestrictedCashEquivalents                                                   232818
ProfitLoss                                                                                                      231838
StockholdersEquityIncludingPortionAttributableToNoncontrollingInterest                                          210192
OperatingIncomeLoss                                                                                             151401
IncomeTaxExpenseBenefit                                                                                         149748
Assets                                                                                                          127884
LiabilitiesAndStockholdersEquity                                                                                123229
ComprehensiveIncomeNetOfTax                                                                                     123005
CommonStockSharesOutstanding                                                                                    117161
RetainedEarningsAccumulatedDeficit                                                                              116831
NetCashProvidedByUsedInOperatingActivities                                                                      116711
NetCashProvidedByUsedInFinancingActivities                                                                      113334
InterestExpense                                                                                                 111850
NetCashProvidedByUsedInInvestingActivities                                                                      105631
EarningsPerShareBasic                                                                                           102850
CommonStockSharesIssued                                                                                         102463
Liabilities                                                                                                     102153
EarningsPerShareDiluted                                                                                          99936
CommonStockValue                                                                                                 99856
CommonStockSharesAuthorized                                                                                      98500
AssetsCurrent                                                                                                    96948
LiabilitiesCurrent                                                                                               96586
CommonStockParOrStatedValuePerShare                                                                              95829
PropertyPlantAndEquipmentNet                                                                                     93980
OperatingExpenses                                                                                                93360
IncomeLossFromContinuingOperationsBeforeIncomeTaxesExtraordinaryItemsNoncontrollingInterest                      93180
GeneralAndAdministrativeExpense                                                                                  92078
ShareBasedCompensation                                                                                           91470
WeightedAverageNumberOfSharesOutstandingBasic                                                                    90220
OtherComprehensiveIncomeLossNetOfTax                                                                             89012
WeightedAverageNumberOfDilutedSharesOutstanding                                                                  87698
Revenues                                                                                                         84509
AccumulatedOtherComprehensiveIncomeLossNetOfTax                                                                  81711
OtherNonoperatingIncomeExpense                                                                                   80228
PaymentsToAcquirePropertyPlantAndEquipment                                                                       75449
CommitmentsAndContingencies                                                                                      74993
GrossProfit                                                                                                      71323
DepreciationDepletionAndAmortization                                                                             70191
AccountsPayableCurrent                                                                                           69363
NonoperatingIncomeExpense                                                                                        68763
EarningsPerShareBasicAndDiluted                                                                                  68540
OtherAssetsNoncurrent                                                                                            63897
AdjustmentsToAdditionalPaidInCapitalSharebasedCompensationRequisiteServicePeriodRecognitionValue                 63351
SellingGeneralAndAdministrativeExpense                                                                           63141
PreferredStockSharesAuthorized                                                                                   62418
WeightedAverageNumberOfShareOutstandingBasicAndDiluted                                                           62408
CashCashEquivalentsRestrictedCashAndRestrictedCashEquivalentsIncludingDisposalGroupAndDiscontinuedOperations     61749
Name: tag, dtype: int64

In [38]:
total_tags=test_df['tag'].value_counts().head(200)

In [39]:
total_tags.to_csv('total_tags.csv')

In [40]:
tag_list=['NetCashProvidedByUsedInOperatingActivities',
    'NetCashProvidedByUsedInInvestingActivities',
    'ComprehensiveIncomeNetOfTax',
    'Revenues',
          'DepreciationAndAmortization',
          'RevenueFromContractWithCustomerExcludingAssessedTax',
          'DepreciationDepletionAndAmortization',
         'PropertyPlantAndEquipmentNet',
         'OperatingIncomeLoss']

In [84]:
top_list=['NetIncomeLoss',
    'StockholdersEquity',
    'CashAndCashEquivalentsAtCarryingValue',
    'CashCashEquivalentsRestrictedCashAndRestrictedCashEquivalents',
          'ProfitLoss',
          'OperatingIncomeLoss',
          'IncomeTaxExpenseBenefit',
         'Assets',]

In [41]:
tag_list

['NetCashProvidedByUsedInOperatingActivities',
 'NetCashProvidedByUsedInInvestingActivities',
 'ComprehensiveIncomeNetOfTax',
 'Revenues',
 'DepreciationAndAmortization',
 'RevenueFromContractWithCustomerExcludingAssessedTax',
 'DepreciationDepletionAndAmortization',
 'PropertyPlantAndEquipmentNet',
 'OperatingIncomeLoss']

In [85]:
top_list

['NetIncomeLoss',
 'StockholdersEquity',
 'CashAndCashEquivalentsAtCarryingValue',
 'CashCashEquivalentsRestrictedCashAndRestrictedCashEquivalents',
 'ProfitLoss',
 'OperatingIncomeLoss',
 'IncomeTaxExpenseBenefit',
 'Assets']

In [42]:
filtered_df = test_df[test_df['tag'].isin(tag_list)]

In [78]:
filtered_df

,adsh,form,report,line,tag,cik,name,version,ddate,qtrs,uom,value,stmt,plabel,afs,wksi,fye,period,fy,fp,sic,countryba,cityba,countryinc
20350,0000866368-21-000017,10-Q,7,17,NetCashProvidedByUsedInInvestingActivities,866368,PS BUSINESS PARKS INC/CA,us-gaap/2019,20200331,1,USD,7587000.0,CF,Net cash (used in) provided by investing activ...,1-LAF,0,1231.0,20210331.0,2021.0,Q1,6798.0,US,GLENDALE,US
20351,0000866368-21-000017,10-Q,7,17,NetCashProvidedByUsedInInvestingActivities,866368,PS BUSINESS PARKS INC/CA,us-gaap/2019,20210331,1,USD,-16424000.0,CF,Net cash (used in) provided by investing activ...,1-LAF,0,1231.0,20210331.0,2021.0,Q1,6798.0,US,GLENDALE,US
20352,0001104659-21-056653,10-Q,6,19,NetCashProvidedByUsedInInvestingActivities,1158324,"COGENT COMMUNICATIONS HOLDINGS, INC.",us-gaap/2019,20200331,1,USD,-12866000.0,CF,Net cash used in investing activities,1-LAF,0,1231.0,20210331.0,2021.0,Q1,4899.0,US,WASHINGTON,US
20353,0001104659-21-056653,10-Q,6,19,NetCashProvidedByUsedInInvestingActivities,1158324,"COGENT COMMUNICATIONS HOLDINGS, INC.",us-gaap/2019,20210331,1,USD,-15444000.0,CF,Net cash used in investing activities,1-LAF,0,1231.0,20210331.0,2021.0,Q1,4899.0,US,WASHINGTON,US
20354,0001165002-21-000044,10-Q,7,27,NetCashProvidedByUsedInInvestingActivities,1165002,WESTWOOD HOLDINGS GROUP INC,us-gaap/2019,20210331,1,USD,9735000.0,CF,Net Cash Provided by (Used in) Investing Activ...,4-NON,0,1231.0,20210331.0,2021.0,Q1,6282.0,US,DALLAS,US
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24998209,0001493152-18-004277,10-Q,2,15,PropertyPlantAndEquipmentNet,1085243,"VIRTRA, INC",us-gaap/2017,20170930,0,USD,693206.0,BS,"Property and equipment, net",5-SML,0,1231.0,20170930.0,2017.0,Q3,7900.0,US,TEMPE,US
24999895,0001493152-18-004277,10-Q,4,4,Revenues,1085243,"VIRTRA, INC",us-gaap/2017,20160930,1,USD,3041701.0,IS,Total revenue,5-SML,0,1231.0,20170930.0,2017.0,Q3,7900.0,US,TEMPE,US
24999896,0001493152-18-004277,10-Q,4,4,Revenues,1085243,"VIRTRA, INC",us-gaap/2017,20160930,3,USD,12649963.0,IS,Total revenue,5-SML,0,1231.0,20170930.0,2017.0,Q3,7900.0,US,TEMPE,US
24999897,0001493152-18-004277,10-Q,4,4,Revenues,1085243,"VIRTRA, INC",us-gaap/2017,20170930,1,USD,4686445.0,IS,Total revenue,5-SML,0,1231.0,20170930.0,2017.0,Q3,7900.0,US,TEMPE,US
24999898,0001493152-18-004277,10-Q,4,4,Revenues,1085243,"VIRTRA, INC",us-gaap/2017,20170930,3,USD,14147297.0,IS,Total revenue,5-SML,0,1231.0,20170930.0,2017.0,Q3,7900.0,US,TEMPE,US

In [71]:
import ssl
import certifi

# urlopen(request, context=ssl.create_default_context(cafile=certifi.where()))

In [72]:
# Initialize PyMongo to work with MongoDBs
import pymongo
conn = 'mongodb+srv://admin:admin@cluster0.5lstl.mongodb.net/myFirstDatabase?retryWrites=true&w=majority'
client = pymongo.MongoClient(conn, tlsCAFile=certifi.where())

In [68]:
# client = pymongo.MongoClient("mongodb+srv://admin:<password>@cluster0.5lstl.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
# db = client.test

In [73]:
# Define database and collection
db = client.SEC_DB
db.SEC_10Q.drop()

In [75]:
#Load df into a MongoDB collection
collection = db.SEC_10Q

In [76]:
collection.insert_many(filtered_df.to_dict('records'))

In [64]:
filtered_df.to_csv('sec_10q_2018_2021.csv', index=False)

In [ ]:
# test_df.to_csv('sec_10q_2018_2021_full.csv',index=False)

In [ ]:
test_df

In [ ]:
aar_df=test_df[(test_df['cik']==1750)]

In [ ]:
aar_df

In [ ]:
f=aar_df['tag'].value_counts()

In [82]:
filtered_df.sort_values(by=['adsh','report','line','fy','fp'])

,adsh,form,report,line,tag,cik,name,version,ddate,qtrs,uom,value,stmt,plabel,afs,wksi,fye,period,fy,fp,sic,countryba,cityba,countryinc
22570123,0000002178-18-000022,10-Q,2,10,PropertyPlantAndEquipmentNet,2178,"ADAMS RESOURCES & ENERGY, INC.",us-gaap/2017,20171231,0,USD,2.936200e+07,BS,"Property and equipment, net",2-ACC,0,1231.0,20180331.0,2018.0,Q1,5172.0,US,HOUSTON,US
22570124,0000002178-18-000022,10-Q,2,10,PropertyPlantAndEquipmentNet,2178,"ADAMS RESOURCES & ENERGY, INC.",us-gaap/2017,20180331,0,USD,2.774400e+07,BS,"Property and equipment, net",2-ACC,0,1231.0,20180331.0,2018.0,Q1,5172.0,US,HOUSTON,US
22628517,0000002178-18-000022,10-Q,4,5,Revenues,2178,"ADAMS RESOURCES & ENERGY, INC.",us-gaap/2017,20170331,1,USD,3.030870e+08,IS,Total revenues,2-ACC,0,1231.0,20180331.0,2018.0,Q1,5172.0,US,HOUSTON,US
22628518,0000002178-18-000022,10-Q,4,5,Revenues,2178,"ADAMS RESOURCES & ENERGY, INC.",us-gaap/2017,20180331,1,USD,3.872560e+08,IS,Total revenues,2-ACC,0,1231.0,20180331.0,2018.0,Q1,5172.0,US,HOUSTON,US
21863872,0000002178-18-000022,10-Q,4,11,DepreciationDepletionAndAmortization,2178,"ADAMS RESOURCES & ENERGY, INC.",us-gaap/2017,20170331,1,USD,3.969000e+06,IS,"Depreciation, depletion and amortization",2-ACC,0,1231.0,20180331.0,2018.0,Q1,5172.0,US,HOUSTON,US
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1877632,0001838862-21-000009,10-Q,6,4,DepreciationDepletionAndAmortization,12659,H&R BLOCK INC,us-gaap/2019,20200131,3,USD,1.254090e+08,CF,Depreciation and amortization,1-LAF,0,430.0,20210131.0,2021.0,Q3,7200.0,US,KANSAS CITY,US
1811177,0001838862-21-000009,10-Q,6,15,NetCashProvidedByUsedInOperatingActivities,12659,H&R BLOCK INC,us-gaap/2019,20200131,3,USD,-1.467791e+09,CF,Net cash used in operating activities,1-LAF,0,430.0,20210131.0,2021.0,Q3,7200.0,US,KANSAS CITY,US
1811178,0001838862-21-000009,10-Q,6,15,NetCashProvidedByUsedInOperatingActivities,12659,H&R BLOCK INC,us-gaap/2019,20210131,3,USD,-9.086790e+08,CF,Net cash used in operating activities,1-LAF,0,430.0,20210131.0,2021.0,Q3,7200.0,US,KANSAS CITY,US
1809054,0001838862-21-000009,10-Q,6,22,NetCashProvidedByUsedInInvestingActivities,12659,H&R BLOCK INC,us-gaap/2019,20200131,3,USD,-4.897020e+08,CF,Net cash used in investing activities,1-LAF,0,430.0,20210131.0,2021.0,Q3,7200.0,US,KANSAS CITY,US
1809055,0001838862-21-000009,10-Q,6,22,NetCashProvidedByUsedInInvestingActivities,12659,H&R BLOCK INC,us-gaap/2019,20210131,3,USD,-7.411200e+07,CF,Net cash used in investing activities,1-LAF,0,430.0,20210131.0,2021.0,Q3,7200.0,US,KANSAS CITY,US

In [79]:
filtered_df['tag'].value_counts()

OperatingIncomeLoss                                    151401
ComprehensiveIncomeNetOfTax                            123005
NetCashProvidedByUsedInOperatingActivities             116711
NetCashProvidedByUsedInInvestingActivities             105631
PropertyPlantAndEquipmentNet                            93980
Revenues                                                84509
DepreciationDepletionAndAmortization                    70191
RevenueFromContractWithCustomerExcludingAssessedTax     58703
DepreciationAndAmortization                             50744
Name: tag, dtype: int64

In [ ]:
filt_tags=filtered_df['tag'].value_counts()

In [ ]:
filt_tags.to_csv('filt_tags.csv')

In [ ]:
feature_1_list=['NetCashProvidedByUsedInOperatingActivities','NetCashProvidedByUsedInInvestingActivities']

In [ ]:
feature_1_df = filtered_df[filtered_df['tag'].isin(feature_1_list)]

In [ ]:
feature_1_df

In [ ]:
test=feature_1_df.sort_values(by=["cik","fy","fp"])

In [ ]:
test[(test['cik']==1750)]

In [86]:
toptag_df = test_df[test_df['tag'].isin(top_list)]

In [87]:
toptag_df

,adsh,form,report,line,tag,cik,name,version,ddate,qtrs,uom,value,stmt,plabel,afs,wksi,fye,period,fy,fp,sic,countryba,cityba,countryinc
2555,0001628280-21-006359,10-Q,3,18,Assets,920760,LENNAR CORP /NEW/,us-gaap/2019,20201130,0,USD,2.993518e+10,BS,Total assets,1-LAF,0,1130.0,20210228.0,2021.0,Q1,1520.0,US,MIAMI,US
2556,0001628280-21-006359,10-Q,2,25,Assets,920760,LENNAR CORP /NEW/,us-gaap/2019,20201130,0,USD,2.993518e+10,BS,Total assets,1-LAF,0,1130.0,20210228.0,2021.0,Q1,1520.0,US,MIAMI,US
2557,0001628280-21-006359,10-Q,3,18,Assets,920760,LENNAR CORP /NEW/,us-gaap/2019,20210228,0,USD,3.055198e+10,BS,Total assets,1-LAF,0,1130.0,20210228.0,2021.0,Q1,1520.0,US,MIAMI,US
2558,0001628280-21-006359,10-Q,2,25,Assets,920760,LENNAR CORP /NEW/,us-gaap/2019,20210228,0,USD,3.055198e+10,BS,Total assets,1-LAF,0,1130.0,20210228.0,2021.0,Q1,1520.0,US,MIAMI,US
2563,0001663577-21-000163,10-Q,2,5,Assets,1442999,ALTEROLA BIOTECH INC.,us-gaap/2019,20191231,0,USD,1.930700e+04,BS,TOTAL ASSETS,4-NON,0,930.0,20191231.0,2020.0,Q1,1000.0,US,WALNUT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25001763,0001440024-18-000031,10-Q,2,31,StockholdersEquity,1440024,"ROADRUNNER TRANSPORTATION SYSTEMS, INC.",us-gaap/2017,20170930,0,USD,1.335970e+08,BS,Total stockholders investment,2-ACC,0,1231.0,20170930.0,2017.0,Q3,4731.0,US,CUDAHY,US
25001841,0001440024-18-000027,10-Q,2,29,StockholdersEquity,1440024,"ROADRUNNER TRANSPORTATION SYSTEMS, INC.",us-gaap/2017,20161231,0,USD,1.974680e+08,BS,Total stockholders investment,2-ACC,0,1231.0,20170331.0,2017.0,Q1,4731.0,US,CUDAHY,US
25001842,0001440024-18-000027,10-Q,2,29,StockholdersEquity,1440024,"ROADRUNNER TRANSPORTATION SYSTEMS, INC.",us-gaap/2017,20170331,0,USD,1.779400e+08,BS,Total stockholders investment,2-ACC,0,1231.0,20170331.0,2017.0,Q1,4731.0,US,CUDAHY,US
25001933,0001440024-18-000028,10-Q,2,30,StockholdersEquity,1440024,"ROADRUNNER TRANSPORTATION SYSTEMS, INC.",us-gaap/2017,20161231,0,USD,1.974680e+08,BS,Total stockholders investment,2-ACC,0,1231.0,20170630.0,2017.0,Q2,4731.0,US,CUDAHY,US
25001934,0001440024-18-000028,10-Q,2,30,StockholdersEquity,1440024,"ROADRUNNER TRANSPORTATION SYSTEMS, INC.",us-gaap/2017,20170630,0,USD,1.432860e+08,BS,Total stockholders investment,2-ACC,0,1231.0,20170630.0,2017.0,Q2,4731.0,US,CUDAHY,US

In [94]:
toptag_df['tag'].value_counts()

NetIncomeLoss                                                    522874
StockholdersEquity                                               495073
CashAndCashEquivalentsAtCarryingValue                            347102
CashCashEquivalentsRestrictedCashAndRestrictedCashEquivalents    232818
ProfitLoss                                                       231838
OperatingIncomeLoss                                              151401
IncomeTaxExpenseBenefit                                          149748
Assets                                                           127884
Name: tag, dtype: int64

In [100]:
sdc_group=toptag_df.groupby(["adsh"])

#Calculate metrics and use groupby object to show each metric by school
tags=sdc_group["tag"].count()
values=sdc_group["value"].sum()

In [101]:
tags

adsh
0000002178-18-000022    36
0000002178-18-000057    46
0000002178-18-000067    70
0000002178-19-000020    34
0000002178-19-000086    56
                        ..
0001835591-21-000006    36
0001835632-21-000010    36
0001837671-21-000004    17
0001837686-21-000004    44
0001838862-21-000009    74
Name: tag, Length: 59089, dtype: int64

In [102]:
values

adsh
0000002178-18-000022    3.572164e+09
0000002178-18-000057    3.689703e+09
0000002178-18-000067    5.464087e+09
0000002178-19-000020    3.580684e+09
0000002178-19-000086    4.548824e+09
                            ...
0001835591-21-000006    5.955822e+09
0001835632-21-000010    1.589481e+11
0001837671-21-000004    1.633056e+10
0001837686-21-000004    3.689035e+09
0001838862-21-000009    1.817349e+10
Name: value, Length: 59089, dtype: float64

In [113]:
netincomeloss=toptag_df[(toptag_df["tag"]=='NetIncomeLoss')]
nilgroup=netincomeloss.groupby("adsh")
nil_sum=nilgroup["value"].sum()
nil_sum

adsh
0000002178-18-000022    8.340000e+05
0000002178-18-000057    2.086200e+07
0000002178-18-000067    1.570800e+07
0000002178-19-000020    1.813800e+07
0000002178-19-000086    5.803200e+07
                            ...
0001835591-21-000006    5.052800e+07
0001835632-21-000010   -8.051000e+08
0001837671-21-000004    4.944600e+07
0001837686-21-000004   -5.084100e+07
0001838862-21-000009   -6.667120e+09
Name: value, Length: 54595, dtype: float64

In [115]:
stockholdersequity=toptag_df[(toptag_df["tag"]=='StockholdersEquity')]
shegroup=stockholdersequity.groupby("adsh")
she_sum=shegroup["value"].sum()
she_sum

adsh
0000002178-18-000022    1.785852e+09
0000002178-18-000057    1.790307e+09
0000002178-18-000067    3.567726e+09
0000002178-19-000020    1.775235e+09
0000002178-19-000086    2.675631e+09
                            ...
0001835591-21-000006    1.665399e+09
0001835632-21-000010    1.215161e+11
0001837671-21-000004    1.175747e+10
0001837686-21-000004    1.511049e+09
0001838862-21-000009   -5.100690e+08
Name: value, Length: 54150, dtype: float64

In [116]:
cashandcarry=toptag_df[(toptag_df["tag"]=='CashAndCashEquivalentsAtCarryingValue')]
cacgroup=cashandcarry.groupby("adsh")
cac_sum=cacgroup["value"].sum()
cac_sum

adsh
0000002178-18-000022    1.219032e+09
0000002178-18-000057    1.282263e+09
0000002178-18-000067    1.280874e+09
0000002178-19-000020    2.479590e+08
0000002178-19-000086    2.447360e+08
                            ...
0001835591-21-000006    6.428630e+08
0001835632-21-000010    1.270979e+09
0001837671-21-000004    5.855700e+07
0001837686-21-000004    4.315000e+08
0001838862-21-000009    3.134503e+09
Name: value, Length: 51432, dtype: float64

In [117]:
cashrestricted=toptag_df[(toptag_df["tag"]=='CashCashEquivalentsRestrictedCashAndRestrictedCashEquivalents')]
crgroup=cashrestricted.groupby("adsh")
cr_sum=crgroup["value"].sum()
cr_sum

adsh
0000002178-19-000020    9.377760e+08
0000002178-19-000086    9.720080e+08
0000002178-19-000107    9.737240e+08
0000002178-20-000057    9.328780e+08
0000002178-20-000105    9.001280e+08
                            ...
0001835591-21-000006    1.940942e+09
0001835632-21-000010    5.172262e+09
0001837671-21-000004    1.171140e+08
0001837686-21-000004    8.635900e+08
0001838862-21-000009    1.080788e+10
Name: value, Length: 25679, dtype: float64

In [118]:
profitloss=toptag_df[(toptag_df["tag"]=='ProfitLoss')]
plgroup=profitloss.groupby("adsh")
pl_sum=plgroup["value"].sum()
pl_sum

adsh
0000002969-18-000014    1.404300e+09
0000002969-18-000026    1.676010e+10
0000002969-18-000034    1.263420e+10
0000002969-19-000014    1.556100e+09
0000002969-19-000029    6.698700e+09
                            ...
0001829126-21-005562   -7.420000e+03
0001829126-21-005563   -3.437440e+05
0001831631-21-000045    1.550547e+09
0001831651-21-000010    1.090800e+07
0001835256-21-000006    5.018820e+08
Name: value, Length: 26339, dtype: float64

In [119]:
top_summary_df=pd.DataFrame({'nil': nil_sum, 
              'she': she_sum,
             'cac': cac_sum,
             'cr': cr_sum,
             'pl': pl_sum})
top_summary_df

,nil,she,cac,cr,pl
0000002178-18-000022,8.340000e+05,1.785852e+09,1.219032e+09,NaN,NaN
0000002178-18-000057,2.086200e+07,1.790307e+09,1.282263e+09,NaN,NaN
0000002178-18-000067,1.570800e+07,3.567726e+09,1.280874e+09,NaN,NaN
0000002178-19-000020,1.813800e+07,1.775235e+09,2.479590e+08,9.377760e+08,NaN
0000002178-19-000086,5.803200e+07,2.675631e+09,2.447360e+08,9.720080e+08,NaN
...,...,...,...,...,...
0001835591-21-000006,5.052800e+07,1.665399e+09,6.428630e+08,1.940942e+09,NaN
0001835632-21-000010,-8.051000e+08,1.215161e+11,1.270979e+09,5.172262e+09,NaN
0001837671-21-000004,4.944600e+07,1.175747e+10,5.855700e+07,1.171140e+08,NaN
0001837686-21-000004,-5.084100e+07,1.511049e+09,4.315000e+08,8.635900e+08,NaN
0001838862-21-000009,-6.667120e+09,-5.100690e+08,3.134503e+09,1.080788e+10,NaN

In [122]:
top_summary_df=top_summary_df.dropna()

In [133]:
top_summary_df['posneg'] = np.where(top_summary_df['nil']>=0, 1, 0)

<ipython-input-133-1abd90e8a745>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_summary_df['posneg'] = np.where(top_summary_df['nil']>=0, 1, 0)

In [134]:
top_summary_df

,nil,she,cac,cr,pl,posneg
0000003545-19-000026,6279000.0,330898000.0,25532000.0,87754000.0,12470000.0,1
0000003545-19-000071,10345000.0,333963000.0,25866000.0,110574000.0,30285000.0,1
0000003545-19-000100,59000000.0,350073000.0,28779000.0,145466000.0,176343000.0,1
0000003545-20-000039,-1676000.0,388789000.0,24176000.0,139274000.0,-4815000.0,0
0000003545-20-000065,20560000.0,392174000.0,99037000.0,295572000.0,61341000.0,1
...,...,...,...,...,...,...
0001829126-21-003843,31016000.0,198535000.0,54118000.0,102046000.0,129216000.0,1
0001829126-21-003850,3340653.0,140499087.0,156672960.0,211491534.0,13362832.0,1
0001829126-21-003889,-8495000.0,207674000.0,30049000.0,181488000.0,-34628000.0,0
0001829126-21-003900,-8726000.0,526163000.0,79062000.0,126641000.0,-28148000.0,0
0001831651-21-000010,6436000.0,-20265000.0,14300000.0,137036000.0,10908000.0,1

In [135]:
top_summary_df.to_csv('top_summary.csv')

In [150]:
data=top_summary_df
feature_names = data.columns

In [139]:
from sklearn.model_selection import train_test_split

In [140]:
X=data[['nil', 'she', 'cac', 'cr','pl']]  # Features
y=data['posneg']

In [141]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [142]:
from sklearn.ensemble import RandomForestClassifier

In [143]:
#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

In [144]:
#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [145]:
from sklearn import metrics

In [146]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 1.0

In [147]:
clf.predict([[3, 5, 4, 2, 1]])

array([0])

In [148]:
RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

RandomForestClassifier(n_jobs=1)

In [153]:
sorted(zip(clf.feature_importances_, feature_names), reverse=True)

[(0.6235463918539392, 'nil'),
 (0.34239590478597237, 'pl'),
 (0.024992912630214262, 'she'),
 (0.008156484105784671, 'cr'),
 (0.0009083066240894607, 'cac')]

In [156]:
import joblib

In [157]:
joblib.dump(clf, 'model.pkl')

['model.pkl']