In [1]:
import pandas as pd
import glob

In [2]:
sub_df=pd.read_csv('2021q2/sub.txt',sep='\t', header=0)
tag_df=pd.read_csv('2021q2/tag.txt',sep='\t', header=0)
num_df=pd.read_csv('2021q2/num.txt',sep='\t', header=0)
pre_df=pd.read_csv('2021q2/pre.txt',sep='\t', header=0)

In [3]:
#files = glob.glob("2021q1/*.txt")

In [4]:

#for f in files:
    #tsv = pd.read_csv(f,sep='\t',header=0)

In [5]:
# sub_df

In [6]:
sub_df=sub_df.append(pd.read_csv('2021q1/sub.txt',sep='\t', header=0))
tag_df=tag_df.append(pd.read_csv('2021q1/tag.txt',sep='\t', header=0))
num_df=num_df.append(pd.read_csv('2021q1/num.txt',sep='\t', header=0))
pre_df=pre_df.append(pd.read_csv('2021q1/pre.txt',sep='\t', header=0))

In [7]:
# sub_df

In [8]:
sub_df=sub_df.append(pd.read_csv('2020q4/sub.txt',sep='\t', header=0))
tag_df=tag_df.append(pd.read_csv('2020q4/tag.txt',sep='\t', header=0))
num_df=num_df.append(pd.read_csv('2020q4/num.txt',sep='\t', header=0))
pre_df=pre_df.append(pd.read_csv('2020q4/pre.txt',sep='\t', header=0))

In [9]:
sub_df=sub_df.append(pd.read_csv('2020q3/sub.txt',sep='\t', header=0))
tag_df=tag_df.append(pd.read_csv('2020q3/tag.txt',sep='\t', header=0))
num_df=num_df.append(pd.read_csv('2020q3/num.txt',sep='\t', header=0))
pre_df=pre_df.append(pd.read_csv('2020q3/pre.txt',sep='\t', header=0))

In [10]:
sub_df=sub_df.append(pd.read_csv('2020q2/sub.txt',sep='\t', header=0))
tag_df=tag_df.append(pd.read_csv('2020q2/tag.txt',sep='\t', header=0))
num_df=num_df.append(pd.read_csv('2020q2/num.txt',sep='\t', header=0))
pre_df=pre_df.append(pd.read_csv('2020q2/pre.txt',sep='\t', header=0))

C:\Users\Mighel\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (35) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [11]:
sub_df=sub_df.append(pd.read_csv('2020q1/sub.txt',sep='\t', header=0))
tag_df=tag_df.append(pd.read_csv('2020q1/tag.txt',sep='\t', header=0))
num_df=num_df.append(pd.read_csv('2020q1/num.txt',sep='\t', header=0))
pre_df=pre_df.append(pd.read_csv('2020q1/pre.txt',sep='\t', header=0))

In [12]:
sub_df=sub_df.append(pd.read_csv('2019q4/sub.txt',sep='\t', header=0))
tag_df=tag_df.append(pd.read_csv('2019q4/tag.txt',sep='\t', header=0))
num_df=num_df.append(pd.read_csv('2019q4/num.txt',sep='\t', header=0))
pre_df=pre_df.append(pd.read_csv('2019q4/pre.txt',sep='\t', header=0))

In [13]:
sub_df=sub_df.append(pd.read_csv('2019q3/sub.txt',sep='\t', header=0))
tag_df=tag_df.append(pd.read_csv('2019q3/tag.txt',sep='\t', header=0))
num_df=num_df.append(pd.read_csv('2019q3/num.txt',sep='\t', header=0))
pre_df=pre_df.append(pd.read_csv('2019q3/pre.txt',sep='\t', header=0))

In [14]:
sub_df=sub_df.append(pd.read_csv('2019q2/sub.txt',sep='\t', header=0))
tag_df=tag_df.append(pd.read_csv('2019q2/tag.txt',sep='\t', header=0))
num_df=num_df.append(pd.read_csv('2019q2/num.txt',sep='\t', header=0))
pre_df=pre_df.append(pd.read_csv('2019q2/pre.txt',sep='\t', header=0))

In [15]:
sub_df=sub_df.append(pd.read_csv('2019q1/sub.txt',sep='\t', header=0))
tag_df=tag_df.append(pd.read_csv('2019q1/tag.txt',sep='\t', header=0))
num_df=num_df.append(pd.read_csv('2019q1/num.txt',sep='\t', header=0))
pre_df=pre_df.append(pd.read_csv('2019q1/pre.txt',sep='\t', header=0))

In [16]:
sub_df=sub_df.append(pd.read_csv('2018q4/sub.txt',sep='\t', header=0))
tag_df=tag_df.append(pd.read_csv('2018q4/tag.txt',sep='\t', header=0))
num_df=num_df.append(pd.read_csv('2018q4/num.txt',sep='\t', header=0))
pre_df=pre_df.append(pd.read_csv('2018q4/pre.txt',sep='\t', header=0))

In [17]:
sub_df=sub_df.append(pd.read_csv('2018q3/sub.txt',sep='\t', header=0))
tag_df=tag_df.append(pd.read_csv('2018q3/tag.txt',sep='\t', header=0))
num_df=num_df.append(pd.read_csv('2018q3/num.txt',sep='\t', header=0))
pre_df=pre_df.append(pd.read_csv('2018q3/pre.txt',sep='\t', header=0))

In [18]:
sub_df=sub_df.append(pd.read_csv('2018q2/sub.txt',sep='\t', header=0))
tag_df=tag_df.append(pd.read_csv('2018q2/tag.txt',sep='\t', header=0))
num_df=num_df.append(pd.read_csv('2018q2/num.txt',sep='\t', header=0))
pre_df=pre_df.append(pd.read_csv('2018q2/pre.txt',sep='\t', header=0))

In [19]:
sub_df=sub_df.append(pd.read_csv('2018q1/sub.txt',sep='\t', header=0))
tag_df=tag_df.append(pd.read_csv('2018q1/tag.txt',sep='\t', header=0))
num_df=num_df.append(pd.read_csv('2018q1/num.txt',sep='\t', header=0))
pre_df=pre_df.append(pd.read_csv('2018q1/pre.txt',sep='\t', header=0))

In [20]:
# tag_df

In [21]:
# num_df

In [22]:
# pre_df

In [23]:
num_pre_df = pd.merge(num_df, pre_df,  on=['adsh','tag','version'])

In [24]:
# num_pre_df

In [25]:
num_pre_sub_df = pd.merge(num_pre_df, sub_df,  how='left', on='adsh')

num_pre_sub_df.columns

In [26]:
# num_pre_sub_df.columns

In [27]:
# num_pre_sub_df

In [28]:

ex_value = num_pre_sub_df.groupby("tag").size()

In [29]:
ex_value

tag
A10DebtSettlementsIncludingRelatedCosts                      6
A2017ConvertibleSubordiantedDebt                             2
A2018ConvertibleSubordinatedDebt                            10
A2023NotesEquityIssuanceCosts                               14
A2024NoteEquityimpact                                        4
                                                            ..
wuc_AblationIntellectualProperty                             2
wuc_IncreaseDecreaseInWarrantModificationExpenses            2
wuc_SaleOf192278UnitsOnJune172019InPrivatePlacement          1
wuc_StockDuringPeriodOfWarrantModificationExpense            1
wuc_StockIssuedDuringPeriodSaleOfUnitsInPrivatePlacement     1
Length: 158156, dtype: int64

In [30]:
num_pre_sub_df=num_pre_sub_df[(num_pre_sub_df['form']=='10-Q')]

In [31]:
# num_pre_sub_df

In [32]:
# num_pre_sub_df.columns

In [33]:
test_df=num_pre_sub_df[['adsh', 'form', 'report','line','tag', 'cik', 'name', 'version', 'ddate', 'qtrs', 'uom', 'value',
     'stmt','plabel','afs', 'wksi', 'fye', 'period', 'fy', 'fp']]

In [34]:
# test_df

In [35]:
# num_pre_sub_df[(num_pre_sub_df['tag']=='NetCashProvidedByUsedInOperatingActivities')]

In [36]:
test_df['tag'].value_counts()

NetIncomeLoss                                                                 522874
StockholdersEquity                                                            495073
CashAndCashEquivalentsAtCarryingValue                                         347102
CashCashEquivalentsRestrictedCashAndRestrictedCashEquivalents                 232818
ProfitLoss                                                                    231838
                                                                               ...
NoncashOrPartNoncashAcquisitionCashSurrenderValueOfLifeInsuranceAcquired           1
AdjustmentsToAdditionalPaidInCapitalInitialValueOfPublicWarrantLiabilities         1
CashReceivedFromReverseRecapitalization                                            1
CommonStockValueSurrenderedForTaxWithholdings                                      1
IncreaseDecreaseInNetIncomeLoss                                                    1
Name: tag, Length: 95177, dtype: int64

In [37]:
tag_list=['NetCashProvidedByUsedInOperatingActivities',
    'NetCashProvidedByUsedInInvestingActivities',
    'ComprehensiveIncomeNetOfTax',
    'Revenues',
'NetIncomeLossFromContinuingOperationsAvailableToCommonShareholdersDiluted',
    'PropertyPlantAndEquipmentGrossPeriodIncreaseDecrease',
    'DepreciationAndAmortization']

In [38]:
tag_list

['NetCashProvidedByUsedInOperatingActivities',
 'NetCashProvidedByUsedInInvestingActivities',
 'ComprehensiveIncomeNetOfTax',
 'Revenues',
 'NetIncomeLossFromContinuingOperationsAvailableToCommonShareholdersDiluted',
 'PropertyPlantAndEquipmentGrossPeriodIncreaseDecrease',
 'DepreciationAndAmortization']

In [39]:
filtered_df = test_df[test_df['tag'].isin(tag_list)]

In [40]:
filtered_df

,adsh,form,report,line,tag,cik,name,version,ddate,qtrs,uom,value,stmt,plabel,afs,wksi,fye,period,fy,fp
20350,0000866368-21-000017,10-Q,7,17,NetCashProvidedByUsedInInvestingActivities,866368,PS BUSINESS PARKS INC/CA,us-gaap/2019,20200331,1,USD,7587000.0,CF,Net cash (used in) provided by investing activ...,1-LAF,0,1231.0,20210331.0,2021.0,Q1
20351,0000866368-21-000017,10-Q,7,17,NetCashProvidedByUsedInInvestingActivities,866368,PS BUSINESS PARKS INC/CA,us-gaap/2019,20210331,1,USD,-16424000.0,CF,Net cash (used in) provided by investing activ...,1-LAF,0,1231.0,20210331.0,2021.0,Q1
20352,0001104659-21-056653,10-Q,6,19,NetCashProvidedByUsedInInvestingActivities,1158324,"COGENT COMMUNICATIONS HOLDINGS, INC.",us-gaap/2019,20200331,1,USD,-12866000.0,CF,Net cash used in investing activities,1-LAF,0,1231.0,20210331.0,2021.0,Q1
20353,0001104659-21-056653,10-Q,6,19,NetCashProvidedByUsedInInvestingActivities,1158324,"COGENT COMMUNICATIONS HOLDINGS, INC.",us-gaap/2019,20210331,1,USD,-15444000.0,CF,Net cash used in investing activities,1-LAF,0,1231.0,20210331.0,2021.0,Q1
20354,0001165002-21-000044,10-Q,7,27,NetCashProvidedByUsedInInvestingActivities,1165002,WESTWOOD HOLDINGS GROUP INC,us-gaap/2019,20210331,1,USD,9735000.0,CF,Net Cash Provided by (Used in) Investing Activ...,4-NON,0,1231.0,20210331.0,2021.0,Q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24987409,0001440024-18-000027,10-Q,5,15,NetCashProvidedByUsedInOperatingActivities,1440024,"ROADRUNNER TRANSPORTATION SYSTEMS, INC.",us-gaap/2017,20170331,1,USD,-7624000.0,CF,Net cash (used in) provided by operating activ...,2-ACC,0,1231.0,20170331.0,2017.0,Q1
24999895,0001493152-18-004277,10-Q,4,4,Revenues,1085243,"VIRTRA, INC",us-gaap/2017,20160930,1,USD,3041701.0,IS,Total revenue,5-SML,0,1231.0,20170930.0,2017.0,Q3
24999896,0001493152-18-004277,10-Q,4,4,Revenues,1085243,"VIRTRA, INC",us-gaap/2017,20160930,3,USD,12649963.0,IS,Total revenue,5-SML,0,1231.0,20170930.0,2017.0,Q3
24999897,0001493152-18-004277,10-Q,4,4,Revenues,1085243,"VIRTRA, INC",us-gaap/2017,20170930,1,USD,4686445.0,IS,Total revenue,5-SML,0,1231.0,20170930.0,2017.0,Q3
24999898,0001493152-18-004277,10-Q,4,4,Revenues,1085243,"VIRTRA, INC",us-gaap/2017,20170930,3,USD,14147297.0,IS,Total revenue,5-SML,0,1231.0,20170930.0,2017.0,Q3

In [41]:
# Initialize PyMongo to work with MongoDBs
import pymongo
conn = 'mongodb+srv://admin:admin@cluster0.5lstl.mongodb.net/myFirstDatabase?authSource=admin&replicaSet=atlas-efjkbc-shard-0&w=majority&readPreference=primary&appname=MongoDB%20Compass&retryWrites=true&ssl=true'
client = pymongo.MongoClient(conn)

In [42]:
# Define database and collection
db = client.SEC_DB
db.SEC_10Q.drop()

In [43]:
#Load df into a MongoDB collection
collection = db.SEC_10Q
# Insert collection
#collection.insert_many

In [44]:
collection.insert_many(filtered_df.to_dict('records'))